Node_Red_cgueble_Flow_1
[{"id":"1d031f7b.60a791","type":"inject","z":"ad0ed5d0.7e1918","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"x":150,"y":121,"wires":[["ad5d06c6.84d048","f7b12210.1a8e6"]]},{"id":"6815a937.127498","type":"debug","z":"ad0ed5d0.7e1918","name":"Message","active":true,"console":"true","complete":"payload","x":504,"y":119,"wires":[]},{"id":"ad5d06c6.84d048","type":"change","z":"ad0ed5d0.7e1918","name":"message","rules":[{"t":"set","p":"payload","pt":"msg","to":"Bonjour test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":337,"y":120,"wires":[["6815a937.127498"]]},{"id":"af8061f8.7b003","type":"e-mail","z":"ad0ed5d0.7e1918","server":"smtp.gmail.com","port":"465","name":"christophe.gueble@free.fr","dname":"send mail to tof free","x":505,"y":237,"wires":[]},{"id":"f7b12210.1a8e6","type":"change","z":"ad0ed5d0.7e1918","name":"mail","rules":[{"t":"set","p":"payload","pt":"msg","to":"Mail test Raspberry","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":309,"y":237,"wires":[["af8061f8.7b003"]]},{"id":"d72268e2.020178","type":"rpi-gpio out","z":"ad0ed5d0.7e1918","name":"","pin":"7","set":true,"level":"0","out":"out","x":494,"y":349,"wires":[]},{"id":"347f05de.f6254a","type":"trigger","z":"ad0ed5d0.7e1918","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"1","extend":false,"units":"s","reset":"","name":"trigger 1s","x":303,"y":349,"wires":[["d72268e2.020178"]]},{"id":"ffd3a504.9d1cf8","type":"inject","z":"ad0ed5d0.7e1918","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"2","crontab":"","once":true,"x":127,"y":349,"wires":[["347f05de.f6254a"]]}]
